.single-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.single-offer-header{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);

    position: absolute;
    top:121px;
    left: 355px;
}