.card{
    width: 350px;
    background: var(--white);
    border-radius: 6px;
    margin-top: 25px;

    padding: 49px 32px 32px 32px;

    position: relative;
}

.card img{
    width: 50px;
    height: 50px;
    border-radius: 15px;

    position: absolute;
    top: -25px;
    left: 32px;

}

.location-card{
    color: var(--violet);
    font-family: Kumbh Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;

}

.information-card{
    color: var(--dark-gray);
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.company-card {
    color: var(--dark-gray);
    margin-bottom: 44px;
}

.post-card {
    font-family: Kumbh Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--very-dark-blue);

    margin-top: 13px;
    margin-bottom: 17px;


}
.point-card{
    display: inline-block;
    font-family:sans-serif;
    height: 4px;
    color: var(--dark-gray);
    margin: 0px 5px 0px 5px;
}
.post-card:hover{
    color: var(--dark-gray);
}

.location-card {
    position: absolute;
    bottom: 36px;
}

a {
    text-decoration: none;
    text-decoration-skip-ink:none;
}

#trash-card{
    position: absolute;
    right: 32px;
    bottom: 30px;
    background-image: url("../../sources/imgs/trash-bin.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25px;
    width: 25px;
}

#trash-card:hover{
    position: absolute;
    right: 32px;
    bottom: 30px;
    background-image: url("../../sources/imgs/trash-hover.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 25px;
    width: 25px;
}

.trash-btn {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
}
#update-card{
    position: absolute;
    right: 32px;
    bottom: 60px;
    background-image: url("../../sources/imgs/pencil-outline.svg");
}
.update-btn {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
}